body{
  width:100%; /*ページ全体の幅は100%と指定する*/	
  text-align:center; /*ページ全体を中央揃えにする*/
  margin-top: 100px;
}

#change_language{
  width: 10em;
  height:3em;
}

.input_area{
  height: auto;
  width: 60%;
  margin: 100 auto;
  padding: 10 100;
  background-color: dimgray;
}

.text{
  /* overflow-wrap: normal; */
  word-wrap: break-word;
}

.score{
  height: auto;
  width: 60%;
  margin: 100 auto;
  padding: 10 100;
  background-color: burlywood;
}

table{
  width: 80%;
  margin: 0 auto;
}

tr{
  width: 10em;
  height:3em;
}